

.logoName {
  height: 100px;
  background-color: #ddd;
}

.sidenav {
    height: 100%;
    background-color: #5e89de; 
  }

  .sidenav a, p{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  .sidenav a:hover, p:hover {
    color: #070707;
  }

  
